@{
    ViewBag.Title = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 id="title" class="jumbotron-heading">Welcome to Poketto Bikestore</h1>
        <p class="lead text-muted">Make a reservation <b>today</b> and get a free Pokémon drawing of your choice.</p>
    </div>
</section>